{{template "header" .Header}}
<div id="EventCreate">
    <h1>イベント作成</h1>
    {{if .Message}}
    <p>{{.Message}}</p>
    {{end}}
    <form action="./event_create" method="POST">
        <ul>
            <li>タイトル: <input type="text" name="title" /></li>
            <li>開催日時: <input type="text" name="start" />(YYYY-MM-DD)</li>
            <li>開催場所: <input type="text" name="place" /></li>
            <li>
                公開期間: <input type="text" name="open" />～<input type="text" name="close" />(YYYY-MM-DD hh:mm)
            </li>
        </ul>
        <input type="submit" value="作成"/>
    </form>
</div>
{{template "footer"}}