{{template "header" .Header}}
<div class="event">
    <h1>イベント詳細</h1>
    <ul>
        <li>タイトル: {{ .Event.Title }}</li>
        <li>開催日時: {{ .Event.Start.Format "2006年01月02日" }}</li>
        <li>開催場所: {{ .Event.Place }}</li>
        <li>公開期間: {{ .Event.Open.Format "2006年01月02日 15時04分" }} ～ {{ .Event.Close.Format "2006年01月02日 15時04分" }}</li>
        <li>
            資料:
            <ul>
                <li>資料１</li>
                <li>資料２</li>
            </ul>
        </li>
        <li>
            コメント:
            <ul>
                <li>コメント１</li>
                <li>コメント２</li>
            </ul>
        </li>
        <li>
            参加者:
            <ul>
                {{ range $i, $v := .EventUsers }}
                <li>{{ if eq $v.Status 0 }}参加{{else}}キャンセル{{end}} : {{ $v.Name }}(@{{ $v.Userid }})</li>
                {{ end }}
            </ul>
        </li>
    </ul>
    {{if eq .Entried 0}}
    <a href="/event_cancel?id={{.Event.ID}}">参加キャンセル</a>
    {{else}}
    <a href="/event_entry?id={{.Event.ID}}">参加エントリー</a>
    {{end}}
</div>
{{template "footer"}}
