<html>

<body>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            {{ range $i, $v := .Users }}
            <tr>
                <td>{{ $v.ID }}</td>
                <td>{{ $v.Name }}</td>
                <td></td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    <form action="/" method="POST">
        name: <input type="text" name="name" value="" />
        <input type="submit" value="登録" />
    </form>
</body>

</html>
